[Unit]
Description={{ item.description }}
Requires=systemd-time-wait-sync.service
After=systemd-time-wait-sync.service
{% for dep in item.required_deps | default([]) %}
Requires={{ dep }}.service
After={{ dep }}.service
{% endfor %}
{% for dep in item.deps | default([]) %}
Wants={{ dep }}.service
After={{ dep }}.service
{% endfor %}

[Service]
WorkingDirectory=/home/sq1090
User=sq1090
ExecStart=/home/sq1090/.local/bin/{{ item.name }} /etc/sq1090/sq1090.cfg
RestartSec=10
Restart=on-failure

[Install]
WantedBy=systemd-time-wait-sync.service
