(section station
  (name {{ station.name }}))

(section receiver
  (host "localhost")
  (port 30002)
  (position {{ receiver.position }})
  (range {{receiver.range }}))

(section database
  (uri "postgresql://localhost/{{sq1090_db}}"))

(section streams
  (uri "rabbitmq-stream://{{ sq1090_user }}:{{ sq1090_password }}@localhost")
  (offset-write-time 3600))

; vim:sw=2:et:ai:syn=hy
